<div id="container">
  <div @fade id="cards">
    <app-card
      routerLink="/html"
      title="HTML"
      desc="Core structure of the website or application"
    ></app-card>
    <app-card
      routerLink="/css"
      id="center"
      title="CSS"
      desc="Creates styles for the website"
    ></app-card>
    <app-card
      routerLink="/js"
      title="JavaScript"
      desc="Adds programmable functionality"
    ></app-card>
  </div>
  <div @fade id="landingtext">
    <h2>Welcome to the Web Dev Starter Forum</h2>
    <p>
      Here you can find questions and answers regarding the three main web
      technologies to get you started on web development. Here you can help
      others or find information yourself and keep up to date on the latest
      developments in the industry!
    </p>
  </div>
</div>
